openapi: 3.0.3
info:
  title: Ridelines API
  description: GPS activity visualization system API with OAuth authentication
  version: 1.0.0
  contact:
    name: Ridelines
    url: https://ridelines.xyz

servers:
  - url: https://api.ridelines.xyz
    description: Production API
  - url: https://api.dev.ridelines.xyz
    description: Development API

# CORS headers for OPTIONS preflight (mock integration)
x-cors-templates:
  cors-headers: &cors-headers
    Access-Control-Allow-Origin:
      schema:
        type: string
    Access-Control-Allow-Methods:
      schema:
        type: string
    Access-Control-Allow-Headers:
      schema:
        type: string
    Access-Control-Allow-Credentials:
      schema:
        type: string

  cors-options-integration: &cors-options-integration
    type: mock
    requestTemplates:
      application/json: '{"statusCode": 200}'
    responses:
      default:
        statusCode: 200
        responseParameters:
          method.response.header.Access-Control-Allow-Origin: "'${frontend_origin}'"
          method.response.header.Access-Control-Allow-Methods: "'GET,POST,OPTIONS'"
          method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,Cookie'"
          method.response.header.Access-Control-Allow-Credentials: "'true'"
        responseTemplates:
          application/json: '{}'

# Common response templates (for documentation only with proxy integration)
x-response-templates:
  error-401: &error-401
    description: Authentication required or invalid token
    content:
      application/json:
        schema:
          $ref: '#/components/schemas/ErrorResponse'

  error-400: &error-400
    description: Invalid or missing parameters
    content:
      application/json:
        schema:
          $ref: '#/components/schemas/ErrorResponse'

  error-409: &error-409
    description: Sync already in progress for user
    content:
      application/json:
        schema:
          $ref: '#/components/schemas/ErrorResponse'

  error-500: &error-500
    description: Internal server error
    content:
      application/json:
        schema:
          $ref: '#/components/schemas/ErrorResponse'

# Lambda proxy integrations (responses are ignored with aws_proxy)
x-integration-templates:
  user-lambda-integration: &user-lambda-integration
    type: aws_proxy
    httpMethod: POST
    uri: "arn:aws:apigateway:$${AWS::Region}:lambda:path/2015-03-31/functions/${user_lambda_arn}/invocations"
    passthroughBehavior: when_no_match

  auth-user-info-lambda-integration: &auth-user-info-lambda-integration
    type: aws_proxy
    httpMethod: POST
    uri: "arn:aws:apigateway:$${AWS::Region}:lambda:path/2015-03-31/functions/${auth_user_info_lambda_arn}/invocations"
    passthroughBehavior: when_no_match

paths:
  # Auth endpoint for Clerk custom OAuth provider
  /auth/user-info:
    get:
      summary: Get user info for Clerk OAuth provider
      description: Return user claims for Clerk's custom OAuth provider
      operationId: getUserInfo
      tags:
        - Authentication
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer token from intervals.icu
          schema:
            type: string
            example: "Bearer intervals_access_token"
      responses:
        '200':
          description: User claims retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserClaims'
        '401':
          description: Missing or invalid Authorization header
        '500': *error-500
      x-amazon-apigateway-integration: *auth-user-info-lambda-integration

  # Protected endpoints (require JWT authentication)
  /user:
    options:
      summary: CORS preflight for /user
      description: Handle CORS preflight request
      responses:
        '200':
          description: CORS preflight response
          headers: *cors-headers
      x-amazon-apigateway-integration: *cors-options-integration
    get:
      summary: Get user profile and PMTiles URL
      description: Retrieve authenticated user's profile and activity data URL
      operationId: getUserProfile
      tags:
        - User
      security:
        - JWTAuth: []
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        '401': *error-401
        '500': *error-500
      x-amazon-apigateway-integration: *user-lambda-integration

  /sync:
    options:
      summary: CORS preflight for /sync
      description: Handle CORS preflight request
      responses:
        '200':
          description: CORS preflight response
          headers: *cors-headers
      x-amazon-apigateway-integration: *cors-options-integration
    post:
      summary: Trigger activity sync
      description: Start synchronization of activities from intervals.icu for authenticated user
      operationId: triggerSync
      tags:
        - Sync
      security:
        - JWTAuth: []
      responses:
        '202':
          description: Sync initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncResponse'
        '401': *error-401
        '409': *error-409
        '500': *error-500
      x-amazon-apigateway-integration: *user-lambda-integration

  /sync/status:
    options:
      summary: CORS preflight for /sync/status
      description: Handle CORS preflight request
      responses:
        '200':
          description: CORS preflight response
          headers: *cors-headers
      x-amazon-apigateway-integration: *cors-options-integration
    get:
      summary: Get sync status
      description: Retrieve current synchronization status for authenticated user
      operationId: getSyncStatus
      tags:
        - Sync
      security:
        - JWTAuth: []
      responses:
        '200':
          description: Sync status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncStatusResponse'
        '401': *error-401
        '500': *error-500
      x-amazon-apigateway-integration: *user-lambda-integration

components:
  securitySchemes:
    JWTAuth:
      type: apiKey
      name: Cookie
      in: header
      description: JWT token in ridelines_auth cookie
      x-amazon-apigateway-authtype: custom
      x-amazon-apigateway-authorizer:
        type: request
        authorizerUri: "arn:aws:apigateway:$${AWS::Region}:lambda:path/2015-03-31/functions/${auth_verify_lambda_arn}/invocations"
        authorizerCredentials: "${auth_verify_lambda_role_arn}"
        authorizerResultTtlInSeconds: 300
        identitySource: "method.request.header.Cookie"

  schemas:
    # Request Parameter Types
    LoginQueryParams:
      type: object
      properties:
        redirect_path:
          type: string
          nullable: true
          description: Optional path to redirect to after successful authentication
          example: "/dashboard"

    CallbackQueryParams:
      type: object
      required:
        - code
        - state
      properties:
        code:
          type: string
          description: Authorization code from intervals.icu
        state:
          type: string
          format: uuid
          description: State parameter for CSRF protection
          example: "550e8400-e29b-41d4-a716-446655440000"

    # Auth Types
    UserClaims:
      type: object
      required:
        - sub
        - name
      properties:
        sub:
          type: string
          description: User ID from intervals.icu
          example: "i12345"
        email:
          type: string
          format: email
          nullable: true
          description: User email address
          example: "user@example.com"
        name:
          type: string
          description: User display name
          example: "John Doe"
        picture:
          type: string
          format: uri
          nullable: true
          description: User profile picture URL
          example: "https://intervals.icu/api/v1/athlete/12345/profile-medium.jpg"
        city:
          type: string
          nullable: true
          description: User's city
          example: "San Francisco"
        state:
          type: string
          nullable: true
          description: User's state
          example: "CA"
        country:
          type: string
          nullable: true
          description: User's country
          example: "USA"
        timezone:
          type: string
          nullable: true
          description: User's timezone
          example: "America/Los_Angeles"
        sex:
          type: string
          nullable: true
          description: User's gender
          example: "M"
        bio:
          type: string
          nullable: true
          description: User's biography
          example: "Cyclist and runner from SF"
        website:
          type: string
          format: uri
          nullable: true
          description: User's website URL
          example: "https://example.com"

    # User Types
    UserProfile:
      type: object
      required:
        - id
        - athlete_id
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Internal user ID
          example: "550e8400-e29b-41d4-a716-446655440000"
        athlete_id:
          type: string
          description: intervals.icu athlete ID
          example: "i351926"
        name:
          type: string
          nullable: true
          description: Name from intervals.icu
          example: "John Doe"
        email:
          type: string
          format: email
          nullable: true
          description: Email address from intervals.icu
          example: "john@example.com"
        created_at:
          type: string
          format: date-time
          description: User account creation timestamp
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: User account last update timestamp
          example: "2024-01-15T10:30:00Z"

    UserProfileResponse:
      type: object
      required:
        - user
        - pmtiles_url
      properties:
        user:
          $ref: '#/components/schemas/UserProfile'
        pmtiles_url:
          type: string
          format: uri
          description: CDN URL for user's PMTiles activity data
          example: "https://d1234.cloudfront.net/activities/i351926.pmtiles"

    # Sync Types
    SyncResponse:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          enum: [initiated]
          description: Current sync status
        message:
          type: string
          description: Human-readable status message
          example: "Activity synchronization initiated"

    SyncStatusResponse:
      type: object
      required:
        - status
        - last_sync_at
      properties:
        status:
          type: string
          enum: [idle, syncing, completed, failed]
          description: Current sync status
        last_sync_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of last completed sync
          example: "2024-01-15T10:30:00Z"
        activities_count:
          type: integer
          nullable: true
          description: Number of activities synchronized
          example: 142
        error_message:
          type: string
          nullable: true
          description: Error message if sync failed
          example: "intervals.icu API rate limit exceeded"

    # Error Types
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Error message
          example: "Invalid state parameter"
        details:
          type: string
          nullable: true
          description: Additional error details
          example: "State parameter not found or expired"


tags:
  - name: Authentication
    description: OAuth authentication endpoints
  - name: User
    description: User profile and data endpoints
  - name: Sync
    description: Activity synchronization endpoints

# Gateway Responses for CORS headers on API Gateway errors
x-amazon-apigateway-gateway-responses:
  UNAUTHORIZED:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: "'${frontend_origin}'"
      gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
    responseTemplates:
      application/json: |
        {"error": "Unauthorized"}
  ACCESS_DENIED:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: "'${frontend_origin}'"
      gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
    responseTemplates:
      application/json: |
        {"error": "Access denied"}
  DEFAULT_4XX:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: "'${frontend_origin}'"
      gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
  DEFAULT_5XX:
    responseParameters:
      gatewayresponse.header.Access-Control-Allow-Origin: "'${frontend_origin}'"
      gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
